@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Open Sans", sans-serif;
}

.bg-login-gradient {
  background: linear-gradient(45deg, #007399 8%, #0099CC 38%, #33CCFF 100%);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* Make overlay transparent */
.custom-popup .reactjs-popup-overlay {
  background: transparent;
}

/* Customize the popup content container */
.custom-popup .reactjs-popup-content {
  border: none;
  padding: 0;
  background: none; /* Remove the white background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Customize modal styles if needed */
.modal {
  background-color: #e0f7fa; /* Use the blue color here */
  border-radius: 1rem;
}

