@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

::-webkit-scrollbar{
  display: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Open Sans", sans-serif;
}

.bg-login-gradient {
  background: linear-gradient(45deg, #007399 8%, #0099CC 38%, #33CCFF 100%);
}
.bg-login-gradient2 {
  background: linear-gradient(180deg, #0C96C4 10%, #54C0E5 60%, #B5E1EE 100%);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
}


.popup-content {
  background: transparent !important; /* Removes white background */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
  outline: none !important;
  height: 100vh; /* Center content vertically */
}

